
* {
margin: 0;
box-sizing: border-box;
}

body {
    padding: 80px 20px 0;
    font-family: sans-serif;
    
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    color: burlywood;
}
nav{
    display: flex;    
}
.nav-link{
    color: white;
    text-decoration: none;
    
}
.nav-menu{
    dsiplay: flex;
    margin-right: 40px;
    line-height: 80px;
    list-style: none;    
}
.nav-menu-item{
    font-size: 11px;
    margin: 0 5px;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 8px;
}

.nav-menu-link:hover {
    font-size: 16px;
    background-color: beige;
    transition: 1s;
}

.logo{
   font-size: 30px;
   font-weight: bold;
   padding: 0 40px;
   line-height: 80px;
   text: beige;
}



#contenido{
    position: fixed;
    top: 80px;
    left: 20%;
    width: 80%;
    bottom: 30px;
    background-color: beige;
    color: black;
    overflow: scroll;
}

#footer{
   position: fixed;
    left: 0%;
    width: 100%;
    height: 40px;
    bottom: 0;
    background-color: darkred;
    color: beige;
    text-align: center;
}
.centrado{
    text-align: center;
    
}
.derecha{
    text-align: right;
    
}

